{% extends 'base.html.twig' %}

{% block title %}
	{{ categorie|title }}
{% endblock %}

{% block body %}
	<section
		class="container mt-5">

		{# Titre #}
		<div class="container col-xxl-10 px-4">
			<h1 class="text-muted">
				<span class="text-primary">
					{{ events|length }}
					rendez-vous</span>
				{% if categorie == 'tout' %}
					programmés
				{% else %}
					{{ categorie }}
				{% endif %}
			</h1>
		</div>

		<hr
		class="event-divider">

		{# Evenements #}
		{% for key,event in events %}
			{% include "shared/_event.html.twig" %}
		{% endfor %}

		{# Pagination #}
		{% include "shared/_paginator.html.twig" %}

	</section>
{% endblock %}
